
.Toolbar{
  @extend .tile;
  
  margin-top: 10px !important;
  display: flex;
  background: $dark;
  justify-content: space-between;
  align-items: center
}

.Toolbar_CompileButton{
    
  margin: 5px 15px;
  border: none;
  background: $green;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  outline: none;
  
  &:hover{
    background: lighten($green, 3);
  }
}


.Toolbar_Languages{
  margin-left: 10px;
}

.Toolbar_Language{
  margin: 10px;
  width: 60px;
  border: none;
  background: $yellow;
  padding: 8px 0;
  border-radius: 15px;
  
}

.Toolbar_Language--selected{
  border: 1px solid blue;
}
