.Toolbar{
  display: flex;
  height: 100%;
}

.Toolbar_Content{
  @extend .tile-content;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}

.Toolbar_CompileButton{
  margin: 5px 15px;
  border: none;
  background: $green;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  outline: none;
  
  &:hover{
    background: lighten($green, 3);
  }
}


.Toolbar_Languages{
  margin-left: 10px;
  
}

.Toolbar_Language{
  margin: 10px;
  width: 80px;
  border: none;
  background: $secondary-2;
  padding: 8px 0;
  font-size: 1.1rem;
  
  &:hover{
    background: lighten($yellow, 5);
  }
}

.Toolbar_Language--selected{
  background: $yellow;
  font-weight: bold;
}
