.NewProjectModal{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $secondary-1;
}

.NewProjectModal_Content{
  border: 1px solid red;
  background: $black;
  padding: 5px;
}
