
// color definitions
$blue: #303088;

//$green: #14ed00;
$green: #229044;
$yellow: #C6C013;
$dark: #323332;
$dark-2: #282928;
$black: #070707;

$secondary-1: #fff;
$secondary-2: #93A3B1;
$secondary-3: #7C898B;


$topbar-height: 147px;
$footer-height: 18px;
