@import 'Variables';


@import 'Topbar';
@import 'Footer';
@import '../Components/Console/Console';
@import '../Components/Editor/Editor';
@import '../Components/SolutionExplorer/SolutionExplorer';
@import '../Components/IDE/IDE';
@import '../Components/Toolbar/Toolbar';



body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: $black;
}

h3{
  margin: 0;
  padding: 0;
  color: $secondary-1;
}

.container{
  display: flex;
}

.tile{
  margin: 5px;
  background: $dark;
  padding: 10px;
}


.row{
  display: flex;
}

.flex-1x{
  flex-grow: 1;
}


.flex-2x{
  flex-grow: 2;
}


.flex-3x{
  flex-grow: 3;
}


.flex-4x{
  flex-grow: 4;
}


.flex-5x{
  flex-grow: 5;
}

