@using OnlineCompiler.Utilities
@{
    Layout = "_Layout";
    
    Context.AddStylesheet("Home");
    Context.AddScript("Home");
}

<div class="container">
    <div>
        <div class="toolbox">
            This is toolbox
        </div>
    </div>

    <div>
        <div id="editor"></div>
        <div id="console"></div>
    </div>
</div>
