<!DOCTYPE html>
<html>
<head>
    <title>Online Compiler</title>
    
    @{ Context.AddStylesheet("Styles"); }
    @Context.RenderStylesheets()
</head>
<body>

@await Html.PartialAsync("Topbar")

@RenderBody()

@await Html.PartialAsync("Footer")
@Context.RenderScripts()
</body>
</html>
