<!DOCTYPE html>
<html>
<head>
    <title>Online Compiler</title>
    
    @{ Context.AddStylesheet("Styles"); }
    @Context.RenderStylesheets()
</head>
<body>

<div class="container">
    <div class="header">
        @await Html.PartialAsync("Topbar")
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <div class="footer">
        @await Html.PartialAsync("Footer")
    </div>
</div>

@Context.RenderScripts()

</body>
</html>
