.Editor{
  height: 100%;
  display: flex;
}


.Editor_Content{
  @extend .tile;
  flex: 1 1 auto;
  padding: 5px;
  margin: 5px 10px 5px 5px;
}

.Editor_Textbox{
  flex: 1;
  background: $dark;
  border: 1px solid #000;
  color: #fff;
  resize: none;
  height: 200px;
  &:focus{
    outline: none;
  }
}
