.Editor_Content{
  @extend .tile-content;
}

.Editor_Textbox{
  flex: 1;
  background: $dark;
  border: 1px solid #000;
  color: #fff;
  resize: none;
  height: 200px;
  &:focus{
    outline: none;
  }
}
